.header {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background-color: #fff;
  justify-content: space-between;
}
.searchIcon {
  display: none;
}
@media (max-width: 850px) {
  .header {
    padding: 4px 7px;
  }
  .header .logo {
    width: 90px;
    height: 40px;
  }
}

@media (max-width: 500px) {
  .header {
    padding: 6px 6px;
    justify-content: space-between;
  }
  .header .logo {
    display: none;
  }
  .header .search {
    display: none;
  }
  .searchIcon {
    display: block;
  }
}
