.container {
  height: 2rem;
  background-color: #f7f8fa;
  border-radius: 40px;
  display: inline-block;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  column-gap: 0.4rem;
  padding: 0.4rem 0.8rem;
  cursor: default;
}
.container > * {
  margin: 0;
  padding: 0;
}
.container img {
  grid-row: 1/5;
}
.userInfo {
  grid-row: 2/4;
}
.userInfo > * {
  margin: 0;
}
.userInfo h2 {
  font-size: 0.8rem;
}
.userInfo h4 {
  font-weight: 200;
  font-size: 0.8rem;
}
@media (max-width: 850px) {
  .container {
    padding: 0.2rem 0.7rem;
    height: 2rem;
    column-gap: 0.2rem;
  }
  .userInfo .title {
    font-size: 0.8rem;
  }
  .userInfo .role {
    font-weight: 200;
    font-size: 0.6rem;
  }
  .container img {
    width: 28px;
    height: 28px;
  }
}
